<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>operacioneslog</servlet-name>
        <servlet-class>com.innovattia.servlet.operacioneslog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consumo</servlet-name>
        <servlet-class>com.innovattia.servlet.consumo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ofertas</servlet-name>
        <servlet-class>com.innovattia.servlet.ofertas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>historial</servlet-name>
        <servlet-class>com.innovattia.servlet.historial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>canjear</servlet-name>
        <servlet-class>com.innovattia.servlet.canjear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consumir</servlet-name>
        <servlet-class>com.innovattia.servlet.consumir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ofertasHBB</servlet-name>
        <servlet-class>com.innovattia.servlet.ofertasHBB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ofertasSams</servlet-name>
        <servlet-class>com.innovattia.servlet.ofertasSams</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accesoMifi</servlet-name>
        <servlet-class>com.innovattia.servlet.accesoMifi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consumoV2</servlet-name>
        <servlet-class>com.innovattia.servlet.consumoV2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarcta</servlet-name>
        <servlet-class>com.innovattia.servlet.eliminarcta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verifyToken</servlet-name>
        <servlet-class>com.innovattia.servlet.verifyToken</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consumoV3</servlet-name>
        <servlet-class>com.innovattia.servlet.consumoV3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cdn</servlet-name>
        <servlet-class>com.innovattia.servlet.cdn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>config</servlet-name>
        <servlet-class>com.innovattia.servlet.config</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getSaldo</servlet-name>
        <servlet-class>com.innovattia.servlet.getSaldo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppExceptionHandler</servlet-name>
        <servlet-class>AppExceptionHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testrsa</servlet-name>
        <servlet-class>com.innovattia.servlet.testrsa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cambioNir</servlet-name>
        <servlet-class>com.innovattia.servlet.nir.cambioNir</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>operacioneslog</servlet-name>
        <url-pattern>/operacioneslog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consumo</servlet-name>
        <url-pattern>/consumo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ofertas</servlet-name>
        <url-pattern>/ofertas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>historial</servlet-name>
        <url-pattern>/historial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>canjear</servlet-name>
        <url-pattern>/canjear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consumir</servlet-name>
        <url-pattern>/consumir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ofertasHBB</servlet-name>
        <url-pattern>/ofertasHBB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ofertasSams</servlet-name>
        <url-pattern>/ofertasSams</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accesoMifi</servlet-name>
        <url-pattern>/accesoMifi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consumoV2</servlet-name>
        <url-pattern>/consumoV2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarcta</servlet-name>
        <url-pattern>/eliminarcta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifyToken</servlet-name>
        <url-pattern>/verifyToken</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consumoV3</servlet-name>
        <url-pattern>/consumoV3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cdn</servlet-name>
        <url-pattern>/cdn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getSaldo</servlet-name>
        <url-pattern>/getSaldo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>config</servlet-name>
        <url-pattern>/ordConfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppExceptionHandler</servlet-name>
        <url-pattern>/AppExceptionHandler</url-pattern>
    </servlet-mapping>
    <display-name>ServletExceptionHandling</display-name>
    <error-page>
        <error-code>404</error-code>
        <location>/AppExceptionHandler</location>
    </error-page>
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/AppExceptionHandler</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/AppExceptionHandler</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>testrsa</servlet-name>
        <url-pattern>/testrsa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cambioNir</servlet-name>
        <url-pattern>/cambioNir</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
